@import "./reset.css";
@import "./font.css";
@import "./pages/home.css";

.background-black {
  background-color: #111317;
}

.flex {
  display: flex;
}

.flex-direction {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.display-none {
  display: none;
}

.button-essential {
  background: none;
  outline: none;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  background: #fa633f;
}

.button-essential:hover {
  cursor: pointer;
  background: #ca4316;
}

.backgroun-white {
  background-color: white;
}
