.feature-background {
  background-color: #463e83;
  height: 80vh;
}

.features-home-box {
  background-color: #463e83;
  text-align: center;
  font-family: "Inter", sans-serif;
  position: relative;
  width: 100%;
}

.features-heading {
  font-size: 50px;
  font-weight: 600;
  padding-top: 15vh;
  color: white;
}

.features-container {
  width: 90vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px 3px #45567380;
  margin: auto;
  position: absolute;
  top: 30vh;
  margin: auto;
  left: 50%;
  transform: translate(-50%);
}

.features-container > article {
  padding: 0 50px;
}

.feature {
  width: 180px;
  padding: 20px 0;
  flex-grow: 1;
  position: relative;
}

.feature img {
  width: 80px;
  height: 80px;
}

.feature p {
  font-size: 18px;
  margin: 25px 0 0;
}

.abled-img {
  color: #463e83;
  border-bottom: 5px solid #463e83;
}

.img-container {
  justify-content: space-between;
  text-align: left;
  padding: 4em 0 2em;
  margin: auto;
}

.img-container h3 {
  font-size: 33px;
  font-weight: 600;
  line-height: 40px;
}

.img-container > section:first-child {
  margin-top: 30px;
}

.img-container h3 {
  max-width: 500px;
}

.img-container ul {
  margin: 20px 35px;
  line-height: 30px;
}

.img-container li {
  list-style: disc;
}

.img-container button {
  padding: 15px 23px;
}

#seo,
#content-marketing,
#market-research,
#advertising,
#social-media {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

@media screen and (max-width: 1025px) {
  .img-container {
    flex-direction: column-reverse;
  }

  .features-container {
    padding-bottom: 5vh;
  }
}
