header {
  color: white;
  padding: 0 5vw;
}

header:hover {
  cursor: pointer;
}

nav {
  padding: 10px 0;
  font-family: Inter, sans-serif;
}

.left-navigation {
  flex-grow: 2;
}

.left-navigation > p:first-child {
  padding: 0 20px;
}

.right-navigation {
  justify-content: flex-end;
}

nav a,
.left-navigation > div,
.right-navigation > div {
  text-decoration: none;
  padding: 0 10px;
  color: #a1a6af;
  font-size: 14px;
  font-weight: 600;
}

.arrow {
  border: 1px solid #a1a6af;
  border-top: 1px solid #111317;
  border-left: 1px solid #111317;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  margin: 1px 0 1px 6px;
}

.right-navigation a {
  font-size: 16px;
  padding: 4px 12px;
  color: white;
  border-radius: 3px;
  border: 1px solid white;
  margin: 0 6px;
  font-weight: normal;
}

.right-navigation > a:last-child {
  background-color: #3dbc98;
  padding: 7px 10px;
  border: none;
}

#log-in-btn {
  background: none;
}
