header {
  color: white;
  padding: 0 5vw;
}

header:hover {
  cursor: pointer;
}

nav {
  padding: 10px 0;
  font-family: Inter, sans-serif;
  position: relative;
  justify-content: space-between;
}

.left-navigation {
  /* border: 1px solid yellow; */
}

.left-navigation > p:first-child {
  padding: 0 20px;
}

.right-navigation {
  justify-content: flex-end;
  /* border: 1px solid green; */
}

nav a,
.left-navigation > div,
.right-navigation > div {
  text-decoration: none;
  padding: 0 10px;
  color: #a1a6af;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.arrow {
  border: 1px solid #a1a6af;
  border-top: 1px solid #111317;
  border-left: 1px solid #111317;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  margin: 1px 0 1px 6px;
}

.right-navigation a {
  font-size: 16px;
  padding: 4px 12px;
  color: white;
  border-radius: 3px;
  border: 1px solid white;
  margin: 0 6px;
  font-weight: normal;
}

.right-navigation > a:last-child {
  background-color: #3dbc98;
  padding: 7px 10px;
  border: none;
}

#log-in-btn {
  background: none;
}

.position-absolute {
  position: absolute;
  z-index: 100;
  background-color: #111317;
}

#resources-box {
  top: 30px;
  left: -5em;
  width: 50vw;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 40px 60px;
  gap: 30px;
}

#resources-box h4 {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

#resources-box div {
  line-height: 20px;
  font-weight: normal;
}

#company-box,
#extra-tools-box {
  display: none;
  flex-direction: column;
  top: 30px;
  padding: 20px 80px;
}

#company-box a,
#extra-tools-box a {
  padding: 15px 0;
  font-size: 20px;
  color: white;
  width: 170px;
}

#extra-tools-box {
  top: 30px;
  left: -4rem;
}
